// --------------------------------------------------------------------------
// Company
// --------------------------------------------------------------------------

.company {

}

.company-menu {
	margin: 0 0 45rem;
	padding: 0;
	list-style: none;
	border-bottom: 3px solid #4E565A;
	overflow: hidden;
	font-size: 11rem;
	font-weight: 700;
	text-transform: uppercase;
	& > li {
		float: left;
		position: relative;
		padding: 0 30rem 0 0;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			right: 15rem;
			width: 4px;
			height: 4px;
			background: #161616;
			margin-top: -4px;
		}
		&:last-child {
			padding: 0;
			&:after { display: none; }
		}
	}
}

.company-menu-link {
	display: block;
	color: #2b2b2b;
	padding: 10rem 0;
	border-bottom: 3px solid transparent;
	&:hover {
		color: #0091e2;
	}
	&.is-active {
		color: #0091e2;
		border-color: #0091E2;
	}
}

.company-list {
	margin: 0 0 40rem;
	padding: 0;
	list-style: none;
	border: 1px solid #D8D8D8;
	& > li {
		border-bottom: 1px solid #D8D8D8;
		&:last-child {
			border: none;
		}
	}
}


.company-item {
	padding: 40rem;
	.row {
	    display: flex;
	    flex-wrap: wrap;
	    align-items: center;
	    & > [class^="col-"], & > [class*=" col-"] {
	        
	    }
	}
}

.company-item-image {
	margin: 0 0 40rem;
	text-align: center;
	@include breakpoint(sm) {
		margin: 40rem 0;
	}
}


.company-item-title {
	font: 700 14rem/24rem 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0 0 12rem;
}

.company-item-text {
	margin: 0 0 12rem;
}

.company-item-doc {
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 0 0 0 22rem;
	line-height: 20rem;
	[class^="icon-"] {
		position: absolute;
		top: 5rem;
		left: 0;
	}
	mark {
		color: #2b2b2b;
		margin: 0 0 0 5rem;
	}
}