// --------------------------------------------------------------------------
// Events
// --------------------------------------------------------------------------

.events-special {
	position: relative;
	z-index: 1;
	background: #25292E;
	padding: 115rem 20rem 112rem;
	margin: 0 0 40rem;
	text-align: center;
	font-size: 14rem;
	line-height: 24rem;
	color: #fff;
	@include breakpoint(xs) {
		padding: 115rem 40rem 112rem;
	}
}

.events-special-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	z-index: -1;
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#25292E, 0.78);
	}
}

.events-special-desc {
	max-width: 760rem;
	margin: 0 auto;
}

.events-special-mark {
	display: block;
	font-size: 12rem;
	line-height: 20rem;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	color: #fff;
	padding: 0 0 25rem;
	margin: 0 0 37rem;
	&:after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 50%;
		width: 64rem;
		height: 2px;
		background: #fff;
		margin: 0 0 0 -32rem;
	}
}

.events-special-title {
	font-size: 25rem;
	line-height: 30rem;
	font-weight: 400;
	margin: 0 0 18rem;
	text-align: center;

}

.events-special-text {
	display: block;
	max-width: 680rem;
	margin: 0 auto 40rem;
}

.events-special-date {
	display: block;
	font-size: 12rem;
	position: absolute;
	bottom: 35rem;
	right: 40rem;
}

.events-special-all {
	position: absolute;
	top: 30rem;
	right: 40rem;
	font-size: 14rem;
	font-weight: 700;
	[class^="icon-"] {
		margin-left: 9rem;
	}
}

// -----


.events-list {
	margin: 0 -15px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	& > li {
		padding: 0 15px;
		margin: 0 0 21px;
	}	
}


.events-item {
	position: relative;
	background: #fff;
	font-size: 14rem;
	line-height: 24rem;
	min-height: 100%;
}

.events-item-category {
	transition: .25s;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 10;
	font-size: 11rem;
	line-height: 20rem;
	text-transform: uppercase;
	font-weight: 700;
	padding: 10rem 23rem;
	background: #0091E2;
	color: #fff;
	[class^="icon-"] {
		margin-left: 15rem;
		top: -1px;
	}
	&:hover {
		background: #1CB7F1;
		color: #fff;
	}
}

.events-item-image {
	position: relative;
	overflow: hidden;
	margin: 0 0 22rem;
	max-height: 260rem;
	&:before {
		content: '';
		display: block;
		float: left;
		padding: 72% 0 0;
	}
	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// .events-item-date {
// 	display: block;
// 	font-size: 12rem;
// 	color: #bec3c6;
// 	margin: 0 0 10rem;
// }

.events-item-title {
	font: 700 14rem/24rem 'Open Sans', Helvetica, Arial, sans-serif;
	margin: 0 0 10rem;
}

.events-item-text {
	margin: 0 0 12rem;
	.icon-arrow-right {
		margin: 0 0 0 -10rem;
		left: 16rem;
	}
}

.events-item-desc {
	padding: 10rem 40rem 35rem;
	.events-all {
		margin-top: 15rem;
	}
}


.events-item-ctrl {
	background: #0C4F75;
	display: flex;
	flex-wrap: wrap;
	position: relative;
	top: -22rem;
	margin: 0;
}

.events-item-date, .events-item-btn, .events-item-end {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex: 1;
	text-align: center;
}


.events-item-date {
	font-size: 14rem;
	line-height: 27rem;
	font-weight: 700;
	white-space: nowrap;
	color: #fff;
	padding: 10rem;
	[class^="icon-"] {
		margin-right: 10rem;
		top: -1px;
	}
}

.events-item-btn {
	transition: .25s;
	font-size: 14rem;
	line-height: 20rem;
	font-weight: 700;
	background: #0091E2;
	color: #fff;
	padding: 10rem;
	&:hover {
		background: #1CB7F1;
		color: #fff;
	}
}

.events-item-end {
	font-size: 12rem;
	line-height: 14rem;
	font-weight: 700;
	background: #4D7890;
	color: #fff;
	padding: 10rem;

}
