// --------------------------------------------------------------------------
// Geo
// --------------------------------------------------------------------------

.geo {
	padding: 70rem 0 0;
}

.geo-heading {
	display: block;
	font-size: 25rem;
	margin: 0 0 50rem;
	position: relative;
	z-index: 10;
}

.geo-map {
	height: 590rem;
	margin: 0 0 60rem 200rem;
	.amcharts-map-image { display: none; }
}

.geo-tabs {
	.row {
		// display: flex;
		// flex-wrap: wrap;
		// align-items: center;
	}
}

.geo-tabs-menu {
	margin: 0 -15px 30px;
	padding: 10px 0;
	list-style: none;
	text-align: center;
	position: relative;
	& > li {
		width: 50%;
		padding: 0 15px;
		margin: 0 0 30px;
		display: inline-block;
		vertical-align: bottom;
	}


	white-space: nowrap;
	overflow-x: auto;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	// box-shadow: inset 0 0 3px rgba(0,0,0,0.2);
	@include breakpoint(xs) {
		& > li {
			width: 33.333%;
		}
	}
	@include breakpoint(sm) {
		& > li {
			width: 25%;
		}
	}
	@include breakpoint(md) {
		white-space: normal;
		overflow: visible;
		box-shadow: none;
		padding: 0 0 30px;
		border: none;
		& > li {
			width: 100%;
			display: block;
			max-height: 200rem;
			&:nth-child(5), &:nth-child(6), &:nth-child(7) {
				position: absolute;
				left: 100%;
				bottom: 30px;
			}
			&:nth-child(6) {
				left: 200%;
			}
			&:nth-child(7) {
				left: 300%;
			}
		}
	}
	& > li.is-active .geo-tabs-item {
		color: #0091E2;
	}
}

.geo-tabs-item {
	transition: .25s;
	text-align: center;
	color: #565e63;
	font-size: 14rem;
	line-height: 24rem;
	cursor: pointer;

	&:hover {
		color: #0091E2;
	}
	[class^="map-"] {
		display: inline-block;
		vertical-align: bottom;
		fill: currentColor;
		width: 100%;
		height: auto;
	}
}

.geo-tabs-item-icon {
	margin: 0 0 10rem;
}

.map-kazakhstan {
	max-width: 149rem;
	max-height: 81rem;
}
.map-slovakia {
	max-width: 145rem;
	max-height: 70rem;
}
.map-ukraine {
	max-width: 122rem;
	max-height: 78rem;
}
.map-belarus {
	max-width: 114rem;
	max-height: 96rem;
}
.map-uzbekistan {
	max-width: 84rem;
	max-height: 55rem;
}
.map-germany {
	max-width: 110rem;
	max-height: 154rem;
}
.map-russia {
	max-width: 270rem;
	max-height: 104rem;
}


.geo-tabs-panel {
	padding: 0 0 40rem;
	position: relative;
	text-align: center;
	display: none;
	svg {
		width: 100%;
		height: auto;
		max-height: 100%;
		max-width: 100%;
		display: inline-block;
		vertical-align: middle;
	}
	&.is-active {
		display: block;
	}

	@include breakpoint(xs) {
		height: 500rem;
		line-height: 500rem;
	}
	@include breakpoint(md) {
		top: -140rem;
		
		padding: 0;
	}
}



.geo-type {
	margin: 0 0 30rem;
	padding: 30rem 0 0;
	position: relative;
	font-size: 11rem;
	line-height: 20rem;
	font-weight: 700;
	text-transform: uppercase;
	&:after {
		content: '';
		display: block;
		width: 77rem;
		height: 5rem;
		position: absolute;
		top: 0;
		left: 0;
		background: #222;
	}
	&__blue:after {
		background: #0082D2;
	}
	&__dark:after {
		background: #4F5666;
	}
	&__green:after {
		background: #40D389;
	}
}