// --------------------------------------------------------------------------
// Materials
// --------------------------------------------------------------------------

.materials {
	margin: 0;
}

.materials-heading {
	display: block;
	font: 700 13rem/28rem 'Open Sans', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin: 0 0 10rem;
}

.materials-list {
	margin: 0 0 30rem;
	padding: 0;
	list-style: none;
	font-size: 14rem;
	line-height: 20rem;
	& > li {
		padding: 0 0 0 16rem;
		margin: 0 0 10rem;
		position: relative;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 9rem;
			left: 0;
			width: 3px;
			height: 3px;
			background: #0091E2;
		}
	}
}