// --------------------------------------------------------------------------
// Organization
// --------------------------------------------------------------------------

.org {

}

.org-heading {
	text-align: center;
	margin: 0 0 38rem;
}

.org-list {
	margin: 0 -15px -10px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	& > li {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		padding: 0 15px;
		margin: 0 0 30px;
	}
	@include breakpoint(sm) {
		& > li {
			width: 50%;
		}
	}
}


.org-item {
	transition: .25s;
	border: 3px solid #383A3D;
	padding: 25rem;
	min-height: 100%;
	&:hover {
		border-color: #0091E2;
	}
	@include breakpoint(sm) {
		padding: 50rem;
	}
}

.org-item-image {
	text-align: center;
	height: 180rem;
	line-height: 180rem;
	margin: 0 0 25rem;
	img {
		display: inline-block;
		vertical-align: middle;
		max-height: 100%;
	}
	@include breakpoint(sm) {
		height: 250rem;
		line-height: 250rem;
	}
}

.org-item-title {
	margin: 0 0 10rem;
}

.org-item-date {
	display: block;
	font-size: 12rem;
	font-weight: 700;
	margin: 0 0 15rem;
}

.org-item-text {
	margin: 0 0 15rem;
}

.org-item-director {
	display: block;
	margin: 0 0 25rem;
}

.org-item-list {
	margin: 0 0 -10rem;
	padding: 0;
	list-style: none;
	font-size: 12rem;
	line-height: 18rem;
	& > li {
		position: relative;
		padding: 0 0 0 16rem;
		margin: 0 0 10rem;
	}
	[class^="icon-"] {
		position: absolute;
		top: 3rem;
		left: 0;
		color: #0091E2;
	}
}