// --------------------------------------------------------------------------
// Pages
// --------------------------------------------------------------------------

.pages {
	font-size: 14rem;
	line-height: 20rem;
	font-weight: 700;
	margin: 0 0 30rem;
	display: flex;
	flex-wrap: nowrap;
}

.pages-prev {
	display: inline-block;
	vertical-align: top;
	margin: 0 14rem 0 0;
	color: #3E3E3E;
}

.pages-list {
	display: inline-block;
	vertical-align: top;
	margin: 0;
	padding: 0;
	list-style: none;
	& > li {
		display: inline-block;
		vertical-align: top;
		padding: 0 5rem;
	}
	@include breakpoint(sm) {
		& > li {
			padding: 0 14rem;
		}
	}
}

.pages-link {
	&.is-active {
		color: #222;
	}
}

.pages-next {
	display: inline-block;
	vertical-align: top;
	margin: 0 0 0 14rem;
}