/* ==========================================================================
   Buttons
   ========================================================================== */


.btn {
	font: 700 11rem/19rem 'Open Sans', Helvetica, Arial, sans-serif;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	border: 1px solid transparent;
	padding: 10rem 20rem;
	border-radius: 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: .25s;
	text-align: center;
	cursor: pointer;
	min-height: 41rem;
	[class^="icon-"] {
		margin: 0 10rem 0 0;
		top: -2px;
	}
	&:hover {
		text-decoration: none;
		
	}
	&:active {
		transition: none;
		transform: translate3d(0,1px,0);
	}
}

.btn-sm {
	font-size: 14rem;
	padding: 13rem 24rem;
	min-height: 47rem;
	text-transform: none;
}

.btn-block {
	width: 100%;
}

.btn-blue {
	background: #20a2ea;
	border-color: #20a2ea;
	color: #fff;
	&:hover {
		background: #1cb7f1;
		border-color: #1cb7f1;
		color: #fff;
	}
    &:active {
        background: #04679e;
        border-color: #04679e;
    }
}

.btn-red {
    background: #d0011b;
    border-color: #d0011b;
    color: #fff;
    &:hover {
        background: #b70016;
        border-color: #b70016;
        color: #fff;
    }
    &:active {
        background: #930011;
        border-color: #930011;
    }
}


// ------
