// --------------------------------------------------------------------------
// Chart
// --------------------------------------------------------------------------

.chart-container {
	margin: 0 0 40rem;
	position: relative;
	.row {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	// @include breakpoint(md) {
	// 	.row {
	// 		display: table;
	// 		width: 100%;
	// 		& > [class^="col-"], & > [class*=" col-"] {
	// 	        display: table-cell;
	// 	        float: none;
	// 	        vertical-align: middle;
	// 	    }
	// 	}
	// }

}

.chart-pie {
	overflow: hidden !important;
	min-width: 100%;
	width: auto;
	margin: 0 -40rem 40rem;
	position: relative;
	font-weight: 700;
	line-height: 18rem;
	max-height: 570rem;
	&:before {
		content: '';
		float: left;
		padding: 100% 0 0;
	}
	
	a { display: none !important; }

	@include breakpoint(sm) {
		margin-left: auto;
		margin-right: auto;
		max-width: 570rem;
		min-width: 0;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			border: 1px solid #E6E6E6;
			border-radius: 50%;
			z-index: -1;
		}
	}

	.amcharts-main-div {
		position: absolute !important;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 56%;
			height: 56%;
			border: 35rem solid rgba(0,0,0,0.15);
			border-radius: 50%;
			z-index: 10;
			transform: translate3d(-50%,-50%,0);
			visibility: hidden;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 49%;
			height: 49%;
			border-radius: 50%;
			border: 10rem solid #fff;
			z-index: 15;
			transform: translate3d(-50%,-50%,0);
			visibility: hidden;

		}

		@include breakpoint(sm) {
			&:after, &:before {
				visibility: visible;
			}
		}
	}

	.amcharts-chart-div {
		height: 100% !important;
		min-height: 100%;
		position: relative;
		// &:after {
		// 	content: '';
		// 	display: block;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	z-index: 100;
		// }
	}


}


.amcharts-balloon-div {
	background: #1EAEFF;
	color: #fff;
	box-shadow: 0 12px 29px 9px rgba(0,0,0,0.11);
	font-size: 12rem;
	line-height: 18rem;
	font-weight: 700;
	padding: 12rem 22rem;
	border-radius: 2px;
	z-index: 100;
	position: relative;
	display: block;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -7rem;
		border-left: 7rem solid transparent;
		border-right: 7rem solid transparent;
		border-top: 7rem solid #1EAEFF;
	}
	span {
		font-family: 'Open Sans', Helvetica, Arial, sans-serif !important;
		border-radius: 3px;
	}
}



.chart-legend {
	max-width: 570rem;
	padding: 0 15px;
	margin: 0 auto;
}

.chart-legend-item {
	display: block;
	position: relative;
	font-size: 14rem;
	line-height: 22rem;
	color: #2b2b2b;
	padding: 0 0 0 42rem;
	margin: 0 0 12rem;
	cursor: pointer;
}

.chart-legend-marker {
	position: absolute;
	top: 0;
	left: 0;
	width: 22rem;
	height: 22rem;
	display: block;
	&:after {
		content: '';
		display: block;
		position: absolute;
		top: 1rem;
		left: 1rem;
		right: 1rem;
		bottom: 1rem;
		border: 2rem solid #fff;
	}
}

.chart-legend-value { display: none; }



.amcharts-pie-slice {
	cursor: pointer;  
}


// -----						

.chart-column {
	position: relative;
	width : 100%;
	height : 390rem;
	font-size: 14rem;
	font-weight: 700;
	margin: 0 0 60rem;
	color: #2b2b2b;
	a{ display: none !important; }

}