// --------------------------------------------------------------------------
// Icons
// --------------------------------------------------------------------------

[class^="icon-"], [class*=" icon-"] {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	fill: currentColor;
}

.icon-arrow-nav {
	display: inline-block;
	vertical-align: middle;
	border-left: 3.5px solid transparent;
	border-right: 3.5px solid transparent;
	border-top: 4px solid currentColor;
	margin-left: 7rem;
}
