// --------------------------------------------------------------------------
// Footer
// --------------------------------------------------------------------------

.footer {
	border-top: 1px solid #DBDBDB;
	font-size: 13rem;
	line-height: 22rem;
	padding: 50rem 0;
}

.copyright {
	margin: 0 0 22rem;
}

.nav-info {
	margin: 0 0 22rem;
}

.nav-info-menu {
	margin: 0;
	padding: 0;
	list-style: none;
	font-weight: 700;
	& > li {
		margin: 0 0 8rem;
	}
}

.address {
	font-style: normal;
	p {
		margin: 0;
	}
	@include breakpoint(sm) {
		br { display: none; }
	}
	@include breakpoint(md) {
		white-space: nowrap;
		
	}
}