// --------------------------------------------------------------------------
// Layout
// --------------------------------------------------------------------------

html, body {
	height: 100%;
}

body {
	background: #fff;
}

.app {
	position: relative;
	min-height: 100%;
	overflow: hidden;
}
