// .icon {
// 	display: inline-block;
// 	width: 1em;
// 	height: 1em;
// 	fill: currentColor;
// }

.icon-arrow-dotted {
	display: inline-block;
	vertical-align: middle;
	width: 4px;
	height: 6px;
}
.icon-arrow-left {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 11.97px;
}
.icon-arrow-link {
	display: inline-block;
	vertical-align: middle;
	width: 23px;
	height: 5px;
}
.icon-arrow-right {
	display: inline-block;
	vertical-align: middle;
	width: 5.53px;
	height: 9.062px;
}
.icon-calendar {
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	height: 19px;
}
.icon-closed {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 24px;
}
.icon-datepicker {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 15px;
}
.icon-doc-min {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 11px;
}
.icon-loading {
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 50px;
}
.icon-mission-arrow {
	display: inline-block;
	vertical-align: middle;
	width: 95px;
	height: 5px;
}
.icon-mission-circle {
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
}
.icon-more {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 12px;
}
.icon-next {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 11.97px;
}
.icon-not_image {
	display: inline-block;
	vertical-align: middle;
	width: 51px;
	height: 42px;
}
.icon-pages-next {
	display: inline-block;
	vertical-align: middle;
	width: 27px;
	height: 10px;
}
.icon-pages-prev {
	display: inline-block;
	vertical-align: middle;
	width: 6.031px;
	height: 9.97px;
}
.icon-photo {
	display: inline-block;
	vertical-align: middle;
	width: 18px;
	height: 16px;
}
.icon-popup-close {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 13px;
}
.icon-press-center-1 {
	display: inline-block;
	vertical-align: middle;
	width: 51px;
	height: 61px;
}
.icon-press-center-2 {
	display: inline-block;
	vertical-align: middle;
	width: 64.625px;
	height: 56.781px;
}
.icon-press-center-3 {
	display: inline-block;
	vertical-align: middle;
	width: 56px;
	height: 61px;
}
.icon-press-center-4 {
	display: inline-block;
	vertical-align: middle;
	width: 60px;
	height: 61.25px;
}
.icon-press-center-5 {
	display: inline-block;
	vertical-align: middle;
	width: 61px;
	height: 61px;
}
.icon-press-center-6 {
	display: inline-block;
	vertical-align: middle;
	width: 59px;
	height: 61px;
}
.icon-prev {
	display: inline-block;
	vertical-align: middle;
	width: 8px;
	height: 11.97px;
}
.icon-search {
	display: inline-block;
	vertical-align: middle;
	width: 15.25px;
	height: 16.25px;
}
.icon-share {
	display: inline-block;
	vertical-align: middle;
	width: 13px;
	height: 15px;
}
.icon-success {
	display: inline-block;
	vertical-align: middle;
	width: 90px;
	height: 90px;
}
.icon-ui-next {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 10.01px;
}
.icon-ui-prev {
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 10.01px;
}
.icon-zoom {
	display: inline-block;
	vertical-align: middle;
	width: 53px;
	height: 54px;
}
.map-belarus {
	display: inline-block;
	vertical-align: middle;
	width: 608px;
	height: 712px;
}
.map-germany {
	display: inline-block;
	vertical-align: middle;
	width: 600px;
	height: 800px;
}
.map-kazakhstan {
	display: inline-block;
	vertical-align: middle;
	width: 792px;
	height: 434px;
}
.map-russia {
	display: inline-block;
	vertical-align: middle;
	width: 1100px;
	height: 640px;
}
.map-slovakia {
	display: inline-block;
	vertical-align: middle;
	width: 612.7px;
	height: 304px;
}
.map-ukraine {
	display: inline-block;
	vertical-align: middle;
	width: 612px;
	height: 408px;
}
.map-uzbekistan {
	display: inline-block;
	vertical-align: middle;
	width: 792px;
	height: 517px;
}

